* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-items: center;
  height: 130px;
}

header img {
  height: 110px;
}

header h1 {
  font-size: 50px;
}

header input {
  padding: 4px;
  margin-left: 6px;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
}

.main-container {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  margin-left: 600px;
  margin-top: 120px;
  height: 500px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 10px;
  margin-left: 200px;
}

.radio-container input {
  width: 50px;
}

#evaluation-form input {
  margin: 6px;
}

select {
  height: 21px;
  width: 185px;
  margin-left: 10px;
  margin-top: 6px;
}

.email-casa {
  display: flex;
}

#label-family {
  margin-left: 140px;
  margin-top: 10px;
}

.radio-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-left: 170px;
}

.rate-radio {
  display: flex;
}

footer {
  background-color: rgb(50, 167, 145);
  text-align: center;
  padding: 24px;
  font-size: 20px;
}
