* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 10px;
}

#evaluation-form input {
    margin: 6px;
}

select {
    height: 21px;
    width: 185px;
    margin-left: 10px;
    margin-top: 6px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.email-casa {
    display: flex;
}
